+++
title = "Clusterpedia"
linkTitle = "Clusterpedia"

+++

{{< blocks/cover title="Welcome to Clusterpedia" image_anchor="top" height="full">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Lean More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clusterpedia-io/clusterpedia">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
    <p class="lead mt-5"><strong>The Encyclopedia of Kubernetes clusters</strong> </p>

	{{< blocks/link-down color="info" >}}
</div>

<asciinema-player
  loop
  autoplay
  font-size="12px"
  rows=30
  cols=150
  src="/clusterpedia.cast"
/>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}

<h1> Synchronize and search for multi-cluster resources </h1>
<br />
<p> Clusterpedia can synchronize resources with multiple clusters and provide more powerful search features </p>
{{% /blocks/lead %}}

{{% blocks/lead color="blue" %}}

<h1>Support for extensive resources</h1>
<br />
<p> Clusterpedia can search for multi-cluster resources by different types such as Pod or Deployment,</p>
<p>and support combining multiple resources (such as Workload) into a Collection Resource to search for.</p>
<br />
<p>Search for Custom Resource</p>

{{% /blocks/lead %}}

{{% blocks/lead color="yellow" %}}

<h1> Compatible with Kubernetes OpenAPI </h1>
<br />
<p>Clusterpedia can leverage existing tools such as kubectl or client-go to search for multi-cluster resources without additional frameworks or tools</p>

{{% /blocks/lead %}}

{{% blocks/lead color="gray-dark" %}}

<h1> Support complex search </h1>
<br />
<p>Based on compatibility with Kubernetes OpenAPI, in addition to supporting Label Selector,</p>
<p>it also supports more complex and useful search conditions, for example:</p>
<br />
<p> Specify multiple clusters and namespaces</p>
<p> Use more powerfule Field Selector to filter resources by any fileds </p>
<p> Query descendant resources via a parent or even ancestor Owner </p>
<p> Sort by multiple resource fields</p>
<p> Support pagination and remaining items count</p>

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://cloud-native.slack.com/messages/clusterpedia" url_text="Join us" %}}
Join the community on Slack
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Welcome to join Clusterpedia!" url="https://github.com/clusterpedia-io" url_text="Contribute to Clusterpedia" %}}
We do a [Pull Request]("https://github.com/clusterpedia-io/clusterpedia/pulls") contributions workflow on
**GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead color="300" >}}
<b>Clusterpedia is a <a href="https://www.cncf.io">Cloud Native Computing Foundation</a> sandbox project</b> <br />
<br />
<img src="https://landscape.cncf.io/images/right-logo.svg" class="home-cloudnative-logo"/>
{{% /blocks/lead %}}
