+++
title = "Clusterpedia"
linkTitle = "Clusterpedia"

+++

{{< blocks/cover title="Welcome to Clusterpedia" image_anchor="top" height="full">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Lean More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clusterpedia-io/clusterpedia">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
    <p class="lead mt-5"><strong>The Encyclopedia of Kubernetes clusters</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Clusterpedia is used for complex resource searches across multiple clusters, 

support simultaneous search of a single kind of resource or multiple kinds of resources existing in multiple clusters.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://join.slack.com/t/clusterpedia/shared_invite/zt-11smmdntu-Im1YjOahqvHhJFqNzLELOA" url_text="Join us" %}}
Join the community on Slack
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎加入 Clusterpedia!" url="https://github.com/clusterpedia-io" url_text="Contribute to Clusterpedia" %}}
We do a [Pull Request]("https://github.com/clusterpedia-io/clusterpedia/pulls") contributions workflow on
**GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}
